.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(5deg, rgba(41, 193, 162, 0.8) 0%, rgba(95, 255, 220, 0.8) 39%, rgba(255, 255, 255, 0.8) 100%), url(img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* Adjust the z-index to control the overlay position */
}


.main .main-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10rem;
}

.main .main-content h1 {
    font-size: 60px;
    line-height: 60px;
}

.main .main-content .highlight {
    color: #0077b6;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.main .main-content p {
    color: #000000;
    margin-top: 30px;
    font-weight: 500;
}

.main-btn {
    background-color: #0077b6;
    padding: 10px 35px;
    margin-top: 30px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.main img {
    width: 1000px;
}

.layer-blur1,
.layer-blur2 {

    width: 400px;
    height: 400px;
    opacity: 0.1;
    border-radius: 100%;
}

.layer-blur1 {
    background-color: #45c9ae;
    position: absolute;
    left: -200px;
    top: 150px;
    filter: blur(15px);
    /* Adjust the blur strength as needed */
}

.layer-blur2 {
    background-color: #45c9ae;
    position: absolute;
    top: 200px;
    right: 50px;
    overflow-x: hidden;
    filter: blur(20px);
    z-index: -1;
    /* Adjust the blur strength as needed */
}